<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacto</title>
        <!--FAVICON-->
        <link rel="icon" type="image/x-icon" href="../assets/images/logo_samsung.jpg?v=2">
        <!--CSS-->
        <link rel="stylesheet" href="../css/estilos_contacto.css">
    </head>
    <body>
        <header>
            <img class="logo" src="../assets/images/logo_samsung.jpg" alt="logo">
            <h1>CONTACTO</h1>
            <nav class="navigationBar">
                <ul class="navigationBarList">
                    <li>
                        <a class="enlace" href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="enlace active" href="#">Contacto</a>
                    </li>
                    <li>
                        <a class="enlace" href="./presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a class="enlace" href="../views/productos.html">Productos</a>
                    </li>
                </ul>
                <form class="buscar">
                    <input type="search" placeholder="Buscar">
                    <input type="submit" value="¿Buscar!">
                </form>           
            </nav>
        </header>
        <main>
            <div class="div_seccion_principal">    
                <img class="ubicacion" src="../assets/images/ubicacion.png" alt="maps">
            </div>  
                <h2>Estamos ubicados en la Calle Berrocal 15, Bailen Miraflores, 29010 Málaga.</h2>
                <h2>Abierto desde las 10:00h - 14:00h y de 16:00h - 20:00h</h2>
                <h2>Teléfono: 952 51 34 92</h2>
        </main>
        <footer class="footer">
            <div class="siguenos" >
                <h4>Síguenos</h4>
            </div>
            <div class="footer-links">
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.instagram.com/samsungespana/" class="icon">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>
                </ul>
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.facebook.com/SamsungEspana/" class="icon">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>
                </ul>
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://x.com/SamsungEspana/" class="icon">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>
                </ul>    
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.youtube.com/user/SamsungMobileSpain" class="icon">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>
                </ul>    
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.linkedin.com/company/samsungespana/" class="icon">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>
                </ul>        
            </div>
            <div class="derechos">
                <p>&copy; Todos los derechos reservados Samsung Málaga</p>
            <!--Para colocar el simbolo de copyright &copy;-->
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>