<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos</title>
        <!--FAVICON-->
        <link rel="icon" type="image/x-icon" href="../assets/images/logo_samsung.jpg?v=2">
        <!--CSS-->
        <link rel="stylesheet" href="../css/estilos_productos.css">
    </head>
    <body>
        <header>
        <img class="logo" src="../assets/images/logo_samsung.jpg" alt="logo">
            <h1>PRODUCTOS</h1>
            <nav class="navigationBar">
                <ul class="navigationBarList">
                    <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a class="enlace" href="../views/contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a class="enlace" href="./presupuesto.html">Presupuesto</a>
                    </li>
                    <li>
                        <a class="enlace active" href="#">Productos</a>
                    </li>
                </ul> 
                <form class="buscar">
                    <input type="search" placeholder="Buscar">
                    <input type="submit" value="¿Buscar!">
                </form>           
            </nav>
        </header>
        <main>
            <div><img src="../assets/images/Samsung-galaxy-A15.jpg" alt="foto1"></div>
            <div><img src="../assets/images/samsung-galaxy-s22ultra.jpg" alt="foto2"></div>
            <div><img src="../assets/images/Samsung-galaxy-A235G.jpg" alt="foto3"></div>
            <div><img src="../assets/images/Samsung-galaxy-A32.jpg" alt="foto4"></div>
            <div><img src="../assets/images/Samsung-galaxy-s24-ultra-12-512gb-gris.jpg" alt="foto5"></div>
            <div><img src="../assets/images/Samsung-galaxy-s24-ultra.jpg" alt="foto6"></div>
            <div><img src="../assets/images/157-samsung-galaxy-a54-5g-8-128gb-violeta.jpg" alt="foto7"></div>
            <div><img src="../assets/images/Samsung-galaxy-A55.jpg" alt="foto8"></div>
            <div><img src="../assets/images/Samsung-note10+.jpg" alt="foto9"></div>
            <div><img src="../assets/images/Samsung-note20ultra5g.jpg" alt="foto10"></div>
            <div><img src="../assets/images/Samsung-note20.jpg" alt="foto11"></div>
            <div><img src="../assets/images/Samsung-galaxy-Zfold5.jpg" alt="foto12"></div>
        </main>
        <footer class="footer">
            <div class="siguenos" >
                <h4>Síguenos</h4>
            </div>
            <div class="footer-links">
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.instagram.com/samsungespana/" class="icon">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>
                </ul>
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.facebook.com/SamsungEspana/" class="icon">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>
                </ul>
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://x.com/SamsungEspana/" class="icon">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>
                </ul>    
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.youtube.com/user/SamsungMobileSpain" class="icon">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>
                </ul>    
                <ul class="social-icon">
                    <li class="icon-elem">
                        <a href="https://www.linkedin.com/company/samsungespana/" class="icon">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>
                </ul>        
            </div>
        <div class="derechos">
                <p>&copy; Todos los derechos reservados Samsung Málaga</p>
            <!--Para colocar el simbolo de copyright &copy;-->
        </div>
    </footer>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>